*,
*::before
*::after {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/*colors*/
:root{
    --bg:#fff7ec;
    --panel:#ffffff;
    --accent:#ec3750;
    --accent-2:#ff8c37;
    --good:#33d6a6;
    --text-main:#1f2933;
    --text-soft:#6b7280;
    --radius-lg:18px;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, "segoe UI", sans-serif;
    background:radial-gradient(circle at top, rgba(255,140,55,0.35), transparent 55%),radial-gradient(circle at bottom, rgba(236,55,80,0.25), transparent 55%), var(--bg);
    color:var(--text-main);
    min-height:100vh;
    padding:1rem;
    display:flex;
    justify-content:center;
}

.app{
    width:100%;
}